#mainContainer{
    height: 100%;
}

#matDrawer {
    min-width: 150px;
}

.hideSideNavBtn {
    float: right;
}

.meni-ko {
    padding-top: 30px;
}

.btn-sloj {
    width: 230px !important;
    text-align: left;
}

.mn-slojevi {
    height: 32px;
    float: left !important;
}

.btn-legend {
    float: right;
    width: 20px !important;
}

.mapa-container {
    padding-top:2px;
}

.ukloni-slojeve {
    padding-top: 70px!important;
}

.subkat {
    padding-left: 15px;
}

.searchfield {
    font-size: small;
    height: fit-content;
}

.showSideNavContainer {
    position: absolute;
    padding-top: 5px;
}

.showSideNavBtn {
    position: absolute;
    z-index:999;
}

.grey_comments {
    font-size: x-small;
    color: gray;
}

#odricanje {
    padding-top: 20px;
    padding-left: 20px;
}

#korisnik {
    padding-top: 5px;
}

.rgzAdrese {
    padding-top: 20px;
    padding-left: 32px;
    font-size: small;
}

#upper-menu{
    min-height: 75%!important;
}

#lower-menu{
    position: relative;
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  padding-top: 12px;
  height: 60% !important;
}
