.mat-column-demo-username {
    width: 128px;
    padding-left: 24px;
    text-align: left;
  }

  .mat-column-email {
    padding-left: 24px;
    text-align: center;
  }

  .mat-column-delete {
    padding-left: 48px;
    text-align: center;
  }

  .mat-column-edit {
    padding-left: 24px;
    text-align: center;
  }

  .add-user{
    padding-top: 10px;
    padding-left: 10px;
    float: left;
  }
  
  