.shared-menu{
    padding-left: 30px;
    padding-top: 20px;
}


.grey_comments {
    font-size: x-small;
    color: gray;
    padding-left: 5px;
}

.menu {
    padding-top: 10px;
    padding-left: 5px;
    text-align: left;
}

.menuBtn{
    width: 100px;
}