.hideSideNavBtn {
    float: right;
}

#mainContainer{
    height: 100%!important; 
}

#matDrawer {
    min-width: 150px;
}

mat-button-toggle {
    padding-top: 20px;
}

.btn-toggle-mode {
    width: 100px!important;
}

#upper-menu{
    min-height: 75%!important;
}

#menu-mode{
    padding-top: 50px;
    text-align: center;
}

#lower-menu{
    position: relative;
}
