<div class="col-md-12">
  <div class="card card-container">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div>
          <label for="username">Korisničko ime</label>
          <input class="form-control" type="text" formControlName="username" id="username" 
          placeholder="min 4">
        </div>
        <div *ngIf="username.invalid && (username.dirty || username.touched)">
          <mat-error *ngIf="username.errors?.['required']">
            Name is required.
          </mat-error>
          <mat-error *ngIf="username.errors?.['minlength'] || username.errors?.['maxlength']">
            Dužina korisničkog imena mora biti najmanje 4, a najviše 15. 
          </mat-error>
          <mat-error *ngIf="username.errors?.['pattern']">
            Nedozvoljeni znakovi u korisničkom imenu. 
          </mat-error>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" formControlName="email" id="email" placeholder="E-mail">
      </div>
      <mat-error *ngIf="email.errors?.['email']">
        Mora biti email.
      </mat-error>
      <div class="form-group">
        <label for="password">Šifra</label>
        <input class="form-control" type="password" formControlName="password" id="password" placeholder="Šifra">
      </div>
      <div class="form-group">
        <label for="repassword">Ponovi šifru</label>
        <input class="form-control" type="password" formControlName="repassword" id="repassword" placeholder="Ponovi šifru">
      </div>
      <mat-error *ngIf="repassword.touched && repassword.invalid" class="alert alert-danger">
        <div *ngIf="repassword.errors.required">Šifra je obavezna.</div>
        <div *ngIf="repassword.errors.matching">Šifra i potvrda šifre nisu podudarne.</div>
    </mat-error>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Ovlašćenja</mat-label>
          <mat-select id="roles" formControlName="roles" placeholder="Ovlašćenja" multiple>
            <mat-option *ngFor="let role of roles_options" [value]="role">{{role}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <div id="btn-signup">
          <button class="btn btn-primary btn-block" type="submit" [disabled]="!userForm.valid">{{submitText}}</button>
        </div>
      </div>
    </form>
    <mat-error *ngIf="isSignUpFailed">
      <p>
        Učitavanje podataka nije uspelo! 
      </p>
      <p>{{errorMessage}}</p>
    </mat-error>
  </div>
</div>